numpy==1.19.5
pandas==1.2.4
scikit-learn==1.0.1
scipy==1.7.1
spacy==3.0.6
transformers==4.12.2
torch==1.13.1
torchvision==0.9.0
torch-model-archiver==0.4.2
torch-workflow-archiver==0.1.2
torchserve==0.4.2